boto3>=1.28.53
boto3-stubs[boto3]
botocore
flywheel-gear-toolkit>=0.2
flywheel-sdk>=18.5.0
fw-client>=0.7.0
fw-utils>=3
types-jinja2>=2.11.9
moto[s3,ssm,ses]>=5.0.15
pandas>=2.1.1
pandas-stubs>=2.0.3
pydantic>=2.5.2
pyyaml==6.0
python_dateutil >= 2.5.3
types-python-dateutil >= 2.9.0
pytest>=7.2.0
pytz >= 2023.3
requests>=2.18.4
requests-oauthlib>=2.0.0
setuptools>=68.2.2
ssm-parameter-store>=19.11.0
typing-extensions>=4.8.0 # only needed for python < 3.12
types-PyYAML>=6.0.12
urllib3 >= 2.2.1
types-pytz >= 2023.3
#validator@ git+https://github.com/naccdata/nacc-form-validator.git
