boto3>=1.28.53
boto3-stubs[boto3]
flywheel-gear-toolkit>=0.2
flywheel-sdk>=17.7.0
fw-client>=0.7.0
fw-utils>=3
types-jinja2>=2.11.9
moto[s3,ssm]==4.2.14
pandas>=2.1.1
pandas-stubs>=2.0.3
pydantic>=2.5.2
pyyaml==6.0
pytest>=7.2.0
requests>=2.18.4
requests-oauthlib>=2.0.0
types-requests
setuptools>=68.2.2
sqlalchemy>=2.0.23
ssm-parameter-store>=19.11.0
typing-extensions>=4.8.0 # only needed for python < 3.12
types-PyYAML>=6.0.12
validator@ git+https://github.com/naccdata/nacc-form-validator.git
